[Desktop Entry]
Name=Auto CPUFreq Monitor
Comment=Monitor CPU power management
Exec=gnome-terminal -- $HOME/.local/bin/auto-cpufreq-monitor-launch
# Icon=utilities-system-monitor
Icon=ac-adapter
Terminal=false
Type=Application
Categories=System;Monitor;

